.color{
  color: orange;
}
section {
  
  display: flex;
}
.new{
  font-size: x-large;
  width: 50%;
  padding-left: 5%;

}
.new img{
  padding-top: 10%;
  padding-right: 5%;
}
.link{
  text-decoration: none;
  background-color: rgba(255, 166, 0, 0.781);
  padding: 15px 50px;
  border-radius: 10px;
  color: azure;
}